<li class="nav-dropdown-container learn">
  <a class="nav-link">读书</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("/v1/books/memory/1_利玛窦的记忆宫殿.html") %>" class="nav-link">记忆学</a></li>
    <li><a href="<%- url_for("/v1/books/computer/1_构建高性能web网站.html") %>" class="nav-link">计算机</a></li>
    <li><a href="<%- url_for("/v1/books/history/资治通鉴/1_周纪一.html") %>" class="nav-link">历史</a></li>
    <li><a href="<%- url_for("/v1/books/economics/1_国富论.html") %>" class="nav-link">经济</a></li>
  </ul>
</li>