<li class="nav-dropdown-container learn">
  <a class="nav-link">算法</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("/arithmetic/sort.html") %>" class="nav-link">排序</a></li>
  </ul>
</li>