<li class="nav-dropdown-container learn">
  <a class="nav-link">读书</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("/books/1_构建高性能web网站.html") %>" class="nav-link">笔记&想法</a></li>
  </ul>
</li>