<li class="nav-dropdown-container learn">
  <a class="nav-link">Arithmetic</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("/arithmetic/lintcode.html") %>" class="nav-link">lintcode</a></li>
  </ul>
</li>