<li class="nav-dropdown-container learn">
  <a class="nav-link">Software</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("/software/engineering.html") %>" class="nav-link">engineering</a></li>
  </ul>
</li>
