<li class="nav-dropdown-container learn">
  <a class="nav-link">基础</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("v2/basic/frontend/1_intro.html") %>" class="nav-link">前端</a></li>
    <li><a href="<%- url_for("v2/basic/http/1_intro.html") %>" class="nav-link">http</a></li>
    <li><a href="<%- url_for("v2/basic/backend/1_intro.html") %>" class="nav-link">后端</a></li>
  </ul>
</li>