<li class="nav-dropdown-container learn">
  <a class="nav-link">关于我</a>
  <span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("/person/introduction.html ") %>" class="nav-link">介绍</a></li>
    <li><a href="<%- url_for("/person/ideas.html ") %>" class="nav-link">灵感</a></li>
    <li><a href="<%- url_for("/person/todolist.html ") %>" class="nav-link">任务列表</a></li>
    <li><a href="<%- url_for("/person/manage.html ") %>" class="nav-link">团队管理</a></li>
  </ul>
</li>