<div class="sidebar">
  <div class="sidebar-inner">
    <h3><%- type %>栏目详情</h3>
    <div class="list">
      <%- partial('partials/toc', { type: type }) %>
    </div>
    <h3>所有栏目</h3>
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>