<div class="sidebar">
  <div class="sidebar-inner">
    <h3>当前位置：<%- type %></h3>
    <div class="list">
      <%- partial('partials/toc', { type: type }) %>
    </div>
    <h3>其它</h3>
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>