<li class="nav-dropdown-container learn">
  <a class="nav-link">框架</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("v2/frame/react/1_intro.html") %>" class="nav-link">React相关</a></li>
    <li><a href="<%- url_for("v2/theory/vue/1_intro.html") %>" class="nav-link">Vue相关</a></li>
    <li><a href="<%- url_for("v2/theory/lodash/1_intro.html") %>" class="nav-link">Lodash</a></li>
    <li><a href="<%- url_for("v2/theory/axios/1_intro.html") %>" class="nav-link">axios</a></li>
  </ul>
</li>